.rootLayoutStart {
  display: flex;
  height: 100%;

  background: url('/up.png') no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);

}

.rootLayoutEnd {
  display: flex;
  height: 100%;

  background: url('/down.png') no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
}

.content {

  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  //overflow: auto;
}